[project]
name = "wallet-connect-level3"
authors = []
description = ""
telemetry = true
requirements = []

[contracts.wallet-tips-3]
path = "contracts/wallet-tips-3.clar"
clarity_version = 2

[repl.analysis]
passes = ["check_checker"]

[repl.analysis.check_checker]
strict = false
trusted_sender = false
trusted_caller = false
callee_filter = false
